[user]
	name = Soham S Gumaste
	email = sgumas2@uic.edu
	signingkey = E7BAA5F8401F940770C8DB421093EC43D8F0CADC 
[init]
	defaultBranch = main
[commit]
#	gpgSign = true
[safe]
	directory = /home/sohamg/quads/minvec
