$include /etc/inputrc
set editing-mode vi
set show-mode-in-prompt on
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
j: history-search-forward
k: history-search-backward
set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
set bell-style visible
set colored-stats on
set completion-ignore-case
TAB: menu-complete
set show-all-if-ambiguous on
